.textHeader {
    font-size: 17px;
}

.colorHeader {
    background-color: rgb(64, 67, 73);
}

.header{
    padding: .1em !important;
}

.margenTarjetas {
    margin-top: 5em;
}

.posicionTarjetas{
    width: 17%;
    padding: 1.3rem 0.7rem 1rem 0.7rem;
    margin-right: .5rem;
}

.letraPequeña{
    font-size: 13px;
    color: grey;
}

.estudiante{
    outline: 2px solid rgb(30, 188, 245);
}
.trainee{
    outline: 2px solid rgb(39, 210, 39);
}
.junior{
    outline: 2px solid rgb(246, 188, 42);
}

#posDiv{
    position: relative;
    justify-content: center;
}
.venta {
    font-size: 13px;
}

@media screen and (max-width: 379px){
    
    #posDiv{
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    .posicionTarjetas{
        width: 60%;
        padding: 1.3rem 0.7rem 1rem 0.7rem;
        margin-bottom: .5rem;
    }
}

@media screen and (max-width: 575px) {
    
    #posDiv{
        align-items: center;
        position: relative;
        flex-direction: column;
    }

    .posicionTarjetas{
        width: 60%;
        padding: 1.3rem 0.7rem 1rem 0.7rem;
        margin-bottom: .5rem;
    }
}